@import "./colors.scss";

//@import "node_modules/bootstrap/scss/bootstrap.scss";


body {
    font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-primary {
    color: white !important;
}

.btn-100 {
    width: 100%;
}

.button-loader {
    border: 4px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 4px solid #59a9e6;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}