<div class="theme-overlay wrapper">
			

		<form class="form-signin" noavalidate #form="ngForm" (ngSubmit)="authenticate(form)">  
				 
		  <section class="logo">
				<a id="logo-image" >
					<img src="./assets/images/logo.png" alt="logo" class="img-fluid" />
				</a>
				
		  </section>
			
			<div class="auth-error" *ngIf="showLoginError()">
				{{ "message.auth-error" | translate }}.
			</div>

			<div class="auth-error" *ngIf="showConnectionError()">
				{{ "message.connection-error" | translate }}.
			</div>
    
			

		  <!--<h2 class="form-signin-heading">Please login</h2>-->

		  <input type="text" class="form-field" name="username" placeholder="{{ 'label.username' | translate }}" [(ngModel)]="username" required/>

		  <input type="password" class="form-field" name="password" placeholder="{{ 'label.password' | translate }}" [(ngModel)]="password"  required/> 

		   <!--<label class="checkbox">
			<input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
		  </label>-->

			<button class="btn btn-lg btn-primary btn-100 btn-block mb-3" type="submit" [disabled]="areCurrentRequestingAuthentication"> 
				<div  class="button-loader" *ngIf="areCurrentRequestingAuthentication"></div>
				<span *ngIf="!areCurrentRequestingAuthentication">{{ "label.login" | translate }} </span>
				
			</button> 
		</form>

		<div class="login-info">{{ "message.copyright-note" | translate }}</div>

	</div>
